@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container.contact_container {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    justify-content: center;
    padding: 3rem 0 4rem 0;
    background: #fbfbfb;
}

.form_title {
    padding: 1.5rem 0;
}

.form_title h1 {
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    color: var(--color-primary);
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 0;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.2rem;
    background: #EEEEEE;
    border: transparent;
    resize: none;
    color: black;
}

.name-input:focus {
    background: white;
    border: 1px solid;
}

.email-input:focus {
    background: white;
    border: 1px solid;
}

textarea:focus {
    background: white;
    border: 1px solid;
}

.btn {
    width: max-content;
    display: inline-block;
    color: black;
    padding: 0.75rem 1.2rem;
    border-radius: 0;
    cursor: pointer;
    border: 1px solid;
    transition: var(--transition);
    background: white;
    font-size: larger;
    font-family: 'Dosis', sans-serif;
    border-radius: 0.2rem;
}

.btn:hover {
    background: #144272;
    color: white;
    border-color: transparent;
}

.name-input::placeholder {
    font-family: 'Lato', sans-serif;
}

.email-input::placeholder {
    font-family: 'Lato', sans-serif;
}

.message-input::placeholder {
    font-family: 'Lato', sans-serif;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    form {
        width: 75%;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    form {
        width: 80%;
    }
}