@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.about_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 8rem 6rem 8rem;
    font-family: 'Lato', sans-serif;
    background: var(--color-white);
    margin: 0 auto;
    max-width: 1800px;
}

.about_section {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
}

.about_heading {
    padding-bottom: 1.5rem;
}

.about_heading h3 {
    font-size: 1.5rem;
    color: var(--color-variant);
}

.about_content p {
    font-size: 1.5rem;
    line-height: 2rem;
    
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .about_container {
        padding: 2rem;
    }

    .about_section {
        padding: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .about_container {
        padding: 0 1rem 4rem 1rem;
    }

    .about_section {
        padding: 2rem;
    }

    .about_content p {
        font-size: 1.2rem;
    }
}