.pricing_container {
    display: flex;
    width: 100%;
    background: white;
    color: var(--color-white);
    padding: 3rem 4rem 5rem 4rem;
}

.pricing_options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 0 2rem;
}

.pricing_container h1, h4 {
    text-align: center;
    padding: 1rem;
    color: var(--color-black);
}

.pricing_title h1 {
    color: var(--color-variant);
}

.pricing_title {
    padding: 3rem 0;
}

.pricing_item {
    background: transparent;
    padding: 1rem;
    border-radius: 2rem;
    border-color: var(--color-variant);
    border-style: solid;
    border-width: 5px;
    transition: var(--transition);
    line-height: 2rem;
}

.pricing_item ul, li {
    padding: 1rem 1rem 1rem 2rem;
    color: black;
}

.pricing_item h2 {
    color: var(--color-primary);
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem;
}

.pricing_item h3 {
    color: var(--color-variant);
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem;
}

.sign-up-btn_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
}

.sign-up_btn {
    width: 50%;
    display: inline-block;
    color: white;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 3px solid var(--color-variant);
    transition: var(--transition);
    align-items: center;
    background: var(--color-primary);
    font-size: 1.5rem;
}

.sign-up_btn:hover {
    background: var(--color-variant);
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .container {
        width: 100%;
    }

    .pricing_container {
        padding: 3rem 5rem;
    }

    .pricing_options {
        grid-template-columns: repeat(1, 1fr);
        gap: 5rem;
        padding: 0 1rem;
    }

    .pricing_item {
        padding: 3rem;
    }

    .sign-up_btn {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .pricing_container {
        padding: 0.5rem;
    }

    .pricing_options {
        grid-template-columns: repeat(1, 1fr);
        gap: 5rem;
        padding: 0 1rem;
    }

    .pricing_item {
        padding: 3rem;
    }

    .pricing_item ul, li {
        padding: 0.3rem;
    }

    .sign-up-btn_container {
        padding: 1rem 0;
    }

    .sign-up_btn {
        width: 60%;
    }
}