@import url('https://fonts.googleapis.com/css2?family=Lato');

.homepage_container {
    width: 100%;
    height: 95vh;
}

.home_text {
    font-size: 50px;
    color: var(--color-white);
    font-family: 'Inter', sans-serif;
    padding-bottom: 9%;
}

.home_text h1 {
    font-weight: 700;
    font-size: 5rem;
}

.home_button a {
    font-weight: 600;
    font-size: 1rem;
    padding: 2% 0% 2% 0%;
    width: 175px; /* HOW TO CHANGE WIDTH OF THE BUTTON WITHOUT COOKING IT @@JIMBO*/
}

.home-text_container {
    width: 45%;
    float: right;
    padding: 18% 5% 0 0%;
}

.home-discord-btn_container {
    float: right;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .homepage_container {
        height: 92.8vh;
    }
    
    .home_text h1 {
        font-size: 55px;
    }

    .home-text_container {
        float: left;
        width: 65%;
        height: 100%;
        padding: 45% 0 0 10%;
    }

    .home_button a {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .homepage_container {
        height: 93.6vh;
    }
    
    .home_text h1 {
        font-size: 40px;
    }

    .home-text_container {
        width: 65%;
        height: 100%;
        float: left;
        padding: 55% 0 0 7%;
    }

    .home_button a {
        width: 80%;
    }
}
