@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .home_container {
        height: 92.8vh;
    }
    
    .text_container {
        padding: 30% 5% 5% 5%;
    }

    .type-writer_container {
        padding: 0 5%;
        line-height: 2rem;
    }

    .type-writer_container p {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 600px) {
    .home_container {
        height: 93.6vh;
    }

    .home_container h1 {
        font-size: 2.5rem;
    }
    
    .text_container {
        padding: 40% 5% 5% 5%;
        line-height: 3rem;
    }

    .type-writer_container {
        padding: 0 5%;
    }

    .type-writer_container p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 375px) {
    .home_container h1 {
        font-size: 2rem;
    }
    
    .text_container {
        padding: 20% 5% 5% 5%;
        line-height: 3rem;
    }

    .type-writer_container {
        padding: 5%;
    }

    .type-writer_container p {
        font-size: 1rem;
    }
}