@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color-primary: #00305b;
    --color-white: white;
    --color-black: #28282B;
    --color-variant: #2C74B3;

    --transition: all 400ms ease;

    --container-width: 100%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--color-white);
    color: var(--color-black);
}

body.home {
    /* @@JIMBO MOVE THE BACKGROUND TO THE LEFT MORE - CAN YOU LEFT ALIGN? OTHERWISE CROP IMAGE */
    background-image: url('./assets//background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

body.contact {
    background-image: url('./assets/contact_background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

body.about {
    background: linear-gradient(180deg, #00305B 0%, rgba(35, 108, 173, 0.72) 60%, rgba(187, 223, 255, 0.45) 100%);
    background-size: cover;
    background-attachment: fixed;
}

body.testimonials {
    background-image: url('./assets/contact_background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

body.faqs {
    background-image: url('./assets/contact_background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

body.products {
    background: linear-gradient(180deg, #00305B 0%, rgba(35, 108, 173, 0.72) 60%, rgba(187, 223, 255, 0.45) 100%);
    background-size: cover;
    background-attachment: fixed;
}

/* GENERAL STYLES */

.container {
    width: var(--container-width);
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
}

.home_container {
    width: 100%;
    height: 95vh;
    background: transparent;
    font-family: 'Lato', sans-serif;
}

.home_container h1 {
    font-size: 4.5rem;
    color: var(--color-white);
}

.text_container {
    padding: 18% 10% 0% 10%;
    padding-bottom: 2rem;
}

.type-writer_container {
    padding: 0 10%;
    line-height: 1.5rem;
}

#colored_text {
    color: var(--color-variant);
}

.type-writer_container p {
    color: var(--color-white);
    font-size: 1.3rem;
}

.down-btn_container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 3%;
}

.down-btn_container a {
    font-size: 2.5rem;
}

.down-btn_container a:hover {
    color: var(--color-variant);
}

.discord-btn_container {
    width: 100%;
    padding: 3% 10%;
}

.discord_btn {
    width: 235px;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: var(--transition);
    align-items: center;
    background: var(--color-white);
    font-size: 1rem;
    text-align: center;
}

.discord_btn:hover {
    color: var(--color-white);
    background: #5865F2;
}