@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color-primary: #00305b;
    --color-white: white;
    --color-black: #28282B;
    --color-variant: #2C74B3;

    --transition: all 400ms ease;

    --container-width: 100%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background: var(--color-white);
    color: var(--color-black);
}

body.home {
    background-image: url('./assets//background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

body.contact {
    background-image: url('./assets/contact_background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

body.about {
    background-image: url('./assets/contact_background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

body.testimonials {
    background-image: url('./assets/contact_background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

body.faqs {
    background-image: url('./assets/contact_background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

body.products {
    background-image: url('./assets/contact_background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* GENERAL STYLES */

.container {
    width: var(--container-width);
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}
